google-auth
google-auth-oauthlib
googledrivedownloader
numpy
patchify
Pillow
pytorch-lightning
scikit-image
scikit-learn
scipy
torch+cu111
torchaudio
torchvision+cu111
tqdm
typing-extensions.3
urllib3
websocket-client
Werkzeug
yarl